body, #root {
  margin: 0; 
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  background-color: black;
  color: white;
}

.navbar {
  background-color: purple;
  padding: 2rem;  
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  flex: 1;
  display: flex;
  justify-content: center;
}
.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  border: 2px solid white;
  border-radius: 1rem;
  padding: 1rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-links li a {
  cursor: pointer;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
}

.nav-links li a:hover {
  color: black;
}

.login-btn {
  border: 2px solid white;
  padding: 8px 18px;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  background-color: black;
}

.login-btn:hover {
  background-color: white;
  color: black;
}

.content {
  padding: 2rem;
  text-align: center;
}

.card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.card {
  background: #000; 
  border-radius: 1rem;
  border: 2px solid grey;
  padding: 10px;
  height: 300px;
  width: 400px;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 70%;
  background-color: aquamarine;
  border-radius: 1rem;
  border: 1px solid grey;
}

.info {
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info h1 {
  font-size: 1.4rem;
  margin: 10px 0;
  color: #ff00ff; /* Pink/Purple */
}

.info h2 {
  font-size: 1rem;
  color: #fff;
  margin: 5px 0;
}

.info h3 {
  font-size: 0.9rem;
  color: #ccc;
  margin: 5px 0;
}

.footer {
  text-align: center;
  padding: 15px;
  background-color: purple;
  color: white;
}